
.clock-base,
.minits-base {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 300px;

    margin: auto;
    vertical-align: middle;

    viewbox: 0 0 300 300;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.clock {
    stroke: #afeeee;
    fill: none;
}
.clock-time {
    font-size: 0.8em;
    fill: #000000;
    text-anchor: middle;

}

.clock-select-time {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 100;
    height: 100%;
    width: 100%;
    max-height: 50px;
    max-width: 200px;

    margin: auto;
    vertical-align: middle;
    z-index: 10;
}
.clock-select-time > div{
    font-size: 1.7em;
    text-align: center;
    font-weight: bolder;
    position: relative;
    float: left;
    width: 100px;
}