.drag-drop-area {
    width: 400px;
    height: 200px;
    border: dashed 2px #BFEBFF
}

.drag-drop-inside {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.drag-drop-info {
    text-align: center;
    width: 100%;
}

.view-area {
    width: 400px;
    height: 500px;
    border: dashed 2px #000000;
}
.drag-over {
    background-color: rgba(100,100,100,0.5);
}

.image-base {
    position: relative;
    border: dashed 2px #000000;
}

.org-image {
}
.catBase {
    cursor: move;
    border: dashed 2px #6BFA9A;
}
.catSub {
    cursor: move;
    border: solid 1px #6BFA9A;
    width: 10px;
    height: 10px;
}