div#top-view{
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
}
div#left-view,
div#right-view{
    position: relative;
    float: left;

    width: 300px;
    height: 900px;
}

div#left-space{
    position: relative;
    float: left;
    width: 120px;
    height: 800px;
}

div#right-view{
    width: 900px;
}
div#right-space{
    position: relative;
    float: left;
    width: 120px;
    height: 800px;
    z-index: -1;
}


div#tips{
    position: absolute;
    top: 600px;
}