<div *ngIf="user" class="side-form">
    <h2>{{ user.Name }}</h2>
        <div class="block-s">
            <div class="label-s float-l">番号：</div>
            <div class="float-l">{{ user.id }}</div>
        </div>
        <div class="block-s">
            <div class="label-s float-l">名前：</div>
            <div class="float-l">
                <input [(ngModel)]="user.Name" placeholder="名前" size="40">
            </div>
        </div>
        <div class="block-s">
            <div class="label-s float-l">ログインID：</div>
            <div class="float-l">
                <input [(ngModel)]="user.Username" placeholder="ログインID" size="40">
            </div>
        </div>
        <div class="block-s">
            <div class="label-s float-l">パスワード：</div>
            <div class="float-l">
                <input type="password" [(ngModel)]="user.Password" placeholder="パスワード" size="40">
            </div>
        </div>
        <div class="block-s">
            <div class="label-s float-l">グループ：</div>
            <div class="float-l">
                <input [(ngModel)]="user.Group" placeholder="グループ" size="10">
            </div>
        </div>
        <div class="block-s">
            <div class="label-s float-l">所属レベル：</div>
            <div class="float-l">
                <input type="number" [(ngModel)]="user.Level" placeholder="レベル" size="10">
            </div>
        </div>
        <button (click)="save()">保存</button>
        <button (click)="goBack()">戻る</button>
</div>
    