
input, button, textarea, select {
    margin: 0;
    padding: 0.5em;
    background: none;
    border: solid 1px #A8DDFF;
    border-radius: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.float-l {
    position: relative;
    float: left;
}

[class *= 'button-'] {
    text-align: center;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #BABABA;
    cursor: pointer;
}
[class *= 'button-']:hover {
    background-color: #DFDFDF;
    box-shadow: -1px -1px 5px #9F9F9F;
}

.button-s {
    line-height: 1.3em;
    font-size: 0.9em;
    width: 80px;
    height: 20px;
}
.button-m {
    line-height: 2em;
    font-size: 1em;
    width: 150px;
    height: 30px;
}
.button-l {
    font-size: 3em;
    line-height: 2em;
    width: 250px;
    height: 40px;
}


.content-s {
    text-align: center;
    width: 80px;
    margin: 0 10px;

}
.content-m {
    text-align: center;
    width: 150px;
    margin: 0 10px;
}
.content-l {
    text-align: center;
    width: 300px;
    margin: 0 10px;

}

[class *= 'block-'] {
    border: 5px 0px 5px 0px;
    width: 100%;
    min-width: 600px;
    max-width: 1000px;
}

.block-s {
    height: 50px;
}
.block-m {
    height: 100px;
}
.block-l {
    height: 150px;
}

[class *= 'label-'] {
    text-align: center;
    line-height: 1.3em;
}
.label-s {
    width: 130px;
}
.label-m {
    width: 200px;
}

.subShow {
    display: none;
}
[class *= 'sub-window-'] {
    position: absolute;
    z-index: 100;
}
.sub-window-m {
    overflow: hidden;
    background-color: white;
    border: solid 2px #B0E0FF;
    box-shadow: 2px 2px 5px #9F9F9F;
}

.side-form {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0px;
    width: 95%;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
}
.side-form-ch {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    width: 95%;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
}