ul#dropmap-box,
ul#skill-box{
    list-style: none;
    width: 940px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;

}
ul#dropmap-box > li,
ul#skill-box > li{
    width: 98%;
    height: 100px;

    margin: 8px 15px;
    border-radius: 20px;
    border: solid 1px rgba(150,150,150,0.8);
    box-shadow: 2px 2px 5px rgba(200,200,200,0.4);

}
ul#dropmap-box > li > div,
ul#skill-box > li > div{
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
}

ul#dropmap-box > li > div > p,
ul#skill-box > li > div > p{
    text-align: center;
    position: relative;
    float: left;
    box-shadow: 1px 1px 0px rgba(150,150,150,0.6);
}
ul#dropmap-box > li > div:nth-child(1) > p,
ul#skill-box > li > div:nth-child(1) > p{
    height: 35px;
    padding-top: 15px;
}
ul#dropmap-box > li > div:nth-child(2){
	padding-left: 50px;
}
ul#dropmap-box > li > div:nth-child(2) > p{
    width: 32px;
    height: 30px;
    margin: 10px 10px 10px 0px;

}




p.dm-name{
    font-weight: bolder;
    width: 160px;

}
p.dm-skill{
	font-weight: bold;
    width: 590px;
    background-color: rgba(230,230,230,0.8);
}
p.dm-start{
    float: right;
    width: 70px;
    background-color: rgba(100,250,120,0.4);
}
p.dm-max{
    float: right;
    width: 70px;
    background-color: rgba(100,120,250,0.4);
}

p.dm-arrow{
    background-image: url("../img/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
   margin-top: 8px;
}
div.dm-refresh{
    position: relative;
    float: left;
    width: 80px;
    margin: 10px 10px 10px 0px;
}
div.dm-monster-list{
	left: 160px;
}
div.dm-monster-list p{
    position: relative;
    float: left;
    cursor: pointer;
}






