@CHARSET "UTF-8";
/***************************
*
*　　メイン設定
*
***************************/

body,div,p,h1,h2,h3,ul,li{
    font-size: 15px;
    font-family: "ＭＳ　ゴシック";
    margin:0px;
    padding:0px;
    background-color: rgba(150,150,150,0.1);
}

a{
    color:black;
    display:black;
    width:100%;
    height:100%;
}

a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:active{text-decoration:none;}
a:hover{text-decoration:none;}

br,div,p{
    line-height:106%;
}

h6
{
    text-align: center;
    font-size: 0.7em;
    margin: 0px;
    pause: 0px;
}



/***************************
*
*　　ヘッダ、コンテンツ、フッター
*
***************************/

div#header,
div#content,
div#footer
{
    position:relative;

    width: 100%;
    min-width: 1480px;
    max-width: 1680px;
    box-shadow: 1px 1px 1px #888;

    margin: 0px auto;
    padding: 0px;
}

/*********************
*　ヘッダ
*********************/

div#header{
    top:0px;
    left:0px;
    height: 100px;
}



/*********************
*　コンテンツ
*********************/

div#content{
    top: 10px;
    height:1000px;

    overflow-x: hidden;
    overflow-y: hidden;
}

/*********************
*　左ペイン
*********************/

div#left{
    position: relative;
    float: left;

    width: 300px;
    height: 100%;



}
/*********************
*　右ペイン
*********************/

div#right{
    position: relative;
    float: left;

    width: 350px;
    height: 100%;

}
/*********************
*　フッター
*********************/

div#footer{
    bottom:0px;
    height: 100px;
}

