/*---------------------------------
-----------------------------------
    スキル
-----------------------------------
---------------------------------*/

div#skill-view{
    display: none;
    position: absolute;
    top: 0px;
    left: 100px;

    width: 1000px;
    height: 1000px;

    z-index: 10000;
    background-color: rgba(250,250,255,0.9);
}

ul.search-tab-box,
ul.search-word{
    position: relative;
    float: left;
    list-style: none;
    width: 95%;
    margin: 3px 0px;

    border-bottom:solid 5px rgba(50,50,50,0.2);
}

ul.search-tab-box > li{
    text-align: center;
    position: relative;
    float: left;
    width: 110px;
    height: 30px;
    margin: 0px 10px;
    box-shadow: 1px 1px 0px rgba(10,10,10,0.4);
    border: solid 1px rgba(150,150,150,0.5);
    border-radius: 5px;

    cursor: pointer;
}
ul.search-tab-box > li:HOVER{
    background-color: rgba(100,100,100,0.3);
}
ul.search-tab-box > li:FIRST-CHILD {

}

ul.search-tab-box > li >p{
    color: rgba(80,80,80,1);
    padding-top: 8px;
}




/*モンスター一覧表示*/

ul#monster-box{
    list-style: none;
    width: 95%;
    height: 500px;

    overflow-x: hidden;
    overflow-y: scroll;
}

ul#monster-box > li{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;

    border-radius: 10px;
    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);

    cursor: pointer;
}

ul#monster-box > li div{
    width: 50px;
    height: 50px;
}

/*モンスターステータス詳細*/

div#monster-status-view{
    position: absolute;
    top: 0px;
    left: -430px;

    width: 375px;
    height: 1000px;
    padding-left:53px;

    background-color: rgba(250,250,250,0.9);

    z-index: 10000;
}

/*ステータス情報*/
div#monster-status-view > ul{
    list-style: none;
    width: 100%;
    height: 100%;
    margin-top: 200px;
}


div#monster-status-view > ul >li{
    position: relative;
    float: left;
    width: 350;
    margin-left: 20px;

    border: solid 1px rgba(200,200,200,0.5);
}

div#monster-status-view > ul >li > p{
    color: rgba(100,100,100,1);
    text-align: center;
    font-size: 1.2em;
    position: relative;
    float: left;
    width: 100px;
    height: 30px;
    padding-top: 5px;
}
div#monster-status-view > ul >li:FIRST-CHILD > div{
    text-align: center;
    font-size: 1.2em;
    position: relative;
    float: left;
    width: 260px;
    height: 30px;
    padding-top: 5px;
}

div#monster-status-view > ul >li > p:nth-child(odd) {
    width: 70px;

    background-color: rgba(100,100,100,0.2);
    border-radius: 5px;
}

/*スキル表示*/
div.monster-status-skill-na{
    width: 340px;
    height: 40px;

    border: solid 1px rgba(200,200,200,0.5);
    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);
}
div.monster-status-skill-na > p{
    text-align: center;
    position: relative;
    float: left;
    width: 200px;
    padding-top: 10px;
}

div.monster-status-skill-na > p:nth-child(odd) {
    width: 60px;
    height: 30px;
    background-color: rgba(100,100,100,0.2);
}




div.monster-status-skill-pro{
    width: 340px;
    height: 80px;
    border: solid 1px rgba(200,200,200,0.5);
    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);
}

div.monster-status-skill-pro > p{
    text-align: left;
    position: relative;
    float: left;

    width: 100%;

    padding-top: 5px;
}

div.monster-status-skill-pro > p:FIRST-CHILD {
    height: 20px;
    background-color: rgba(100,100,100,0.2);
}


/*画像表示*/

div#ms-img{
    position: absolute;
    top: 380px;
    left: 250px;
    z-index: 10010;
}


/*モンスター決定ボタン*/

div#monster-push{
    position: absolute;
    top: 380px;
    left: 330px;

    width: 40px;
    height: 40px;

    border-radius: 20px;
    border: solid 4px rgba(250,100,10,0.8);
    background-color: rgba(250,250,250,1);

    cursor: pointer;
}
div#monster-push p{
    text-align: center;
    color: rgba(80,80,80,0.8);
    padding-top: 10px;
}
div#monster-push:HOVER {
    background-color: rgba(100,100,100,0.5);
}


