ul{
    list-style: none;
}
li{
    position: relative;
    float: left;
}


/************************

    ヘッダー

*************************/

div.cal-title{
    position: absolute;
    top: 10px;
    right: 150px;
}
div.cal-title li{
    font-size: 1.8em;
}

div.cal-ba_link{
    position: absolute;
    top: 65px;
    right: 100px;
}
div.cal-ba_link li{
    font-size: 2em;
    text-align: center;
    width: 150px;
}


/*年リンク*/
div.cal-year_link{
    position: absolute;
    top: 5px;
    left: 50px;
}
div.cal-year_link li{
    text-align: center;
    width: 60px;
    height: 25px;

    border-radius: 5px;
    box-shadow: 1px 1px 0px gray;

}
div.cal-year_link li:HOVER{
    background-color: rgba(200,200,200,0.4);
}

/*月リンク*/
div.cal-month_link{
    position: absolute;
    top: 40px;
    left: 50px;
}
div.cal-month_link li{
    text-align: center;
    width: 60px;
    height: 25px;

    border-radius: 5px;
    box-shadow: 1px 1px 0px gray;

}
div.cal-month_link li:HOVER{
    background-color: rgba(200,200,200,0.4);
}

/*日リンク*/
div.cal-date_link{
    position: absolute;
    top: 70px;
    left: 50px;
}
div.cal-date_link li{
    text-align: center;
    width: 30px;
    height: 25px;

    border-radius: 5px;
    box-shadow: 1px 1px 0px gray;
}

div.cal-date_link li p{
    padding-top: 5px;
}

div.cal-date_link li:HOVER{
    background-color: rgba(200,200,200,0.4);
}

/************************

    リンクボックス

*************************/


/*表示切り替えスイッチ*/
div#link-box-switch{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 30px;
    height: 50px;

    border-radius: 0px 5px 5px 0px;
    background-color: rgba(100,100,100,0.4);
    cursor: pointer;
}

div#link-box-switch:HOVER{
    background-color: rgba(100,100,100,0.8);
}

div#link-box-switch p{
    text-align: center;
    font-weight: bolder;
    font-size: 1.6em;
    color: rgba(100,100,100,0.6);
}

/*外枠*/
div#link-box{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 0;
    height: 0;

    background-color: rgba(240,240,240,0.9);

    z-index: 1000;
}

/*部屋毎の枠*/
div.link-box-content{
    display: none;
    position: relative;
    float: left;

    width: 800px;
    height: 120px;

    margin: 15px 0px 0px 15%;;
    box-shadow: 1px 5px 0px rgba(200,200,200,0.6);
    border: solid 5px rgba(150,150,150,1);
    cursor: pointer;
}
div.link-box-content:FIRST-CHILD{
    margin-top: 50px;
}
div.link-box-content:HOVER{
    background-color: rgba(250,180,100,0.2);
}

/*タイトル*/
div.link-box-title{
    width: 120px;
    height: 100%;
    background-color: rgba(250,250,250,1);
}

div.link-box-title p{
    font-weight: bolder;
    font-size: 1.2em;
    color: rgba(10,10,10,0.7);
    text-align: left;
    text-indent: 1em;

    padding-top: 15px;
}

/*リンクのリスト*/
div.link-box-lists{

    position: absolute;
    top: 0px;
    left: 108px;
}
ul.link-box-list{
    position: relative;
    float: left;
    width: 900px;
    height: 50px;
    margin: 0px;

}

ul.link-box-list > li{
    position: relative;
    float: left;
}

ul.link-box-list > li p{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;

    padding-top: 15px;
}

li.link-box-category{
    width: 50px;
    height: 48px;
    border-radius: 10px;
    background-color: rgba(50,120,250,0.9);
}
li.link-box-link{
    width: 80px;
    height: 48px;
    margin:1px;
    border-radius: 10px;
    background-color: rgba(0,200,80,0.6);
    box-shadow: 1px 1px 0px rgba(100,100,100,1);
}
li.link-box-link:HOVER{
    background-color: rgba(0,150,0,0.8);
}
/************************

    予約一覧

*************************/

div.form-list-box{
	position: relative;
	float: left;

	width: 600px;
	height: 600px;
	border: solid 1px rgba(100,100,100,1);
}


div.form-list-box > div{
	position: relative;
	float: left;
	width: 590px;
	margin:5px 0px 0px 5px;
	box-shadow: 1px 1px 0px rgba(100,100,100,0.2);
}
div.form-list-box > div > div{
	position: relative;
	float: left;
}
div.calum_title{
	text-align: center;
	width: 100px;
	height: 18px;
	padding-top: 5px;

	background-color: rgba(250,200,100,208);
}

div.calum_form{
	text-align: center;

	margin-left: 15px;

}

/************************

    従業員

*************************/

