<div class="side-form-ch">
        <form action="" method="post" enctype="multipart/form-data">
            <div 
                class="drag-drop-area" 
                (dragover)="onDragOverHandler($event)" 
                (dragleave)="onDragLeaveHandler($event)"
                (drop)="onDropHandler($event)" >
              <div class="drag-drop-inside">
                <p class="drag-drop-info">ここにドロップ</p>
                <p>または</p>
                <input type="file" value="ファイルを選択" accept="image/*" >
              </div>
            </div>
        </form>
        <div id="hogehogehoge"></div>
        <ul>
            <li>{{csvdata[0]}}</li>
            <li *ngFor="let al of csvdata" class="list">
                {{al}}
            </li>
        </ul>
        <canvas class="image-base" id="canvas">
        </canvas>
        <div *ngIf="catOn" (click)="catImage()" class="button-m click">
            切り取りマンモス？
        </div>
        <ng-container *ngIf="pdfOn">
        <input type="text" [(ngModel)]="fname">
        <input type="text" [(ngModel)]="name">
        <div (click)="buildPdf()" class="button-m click">
                君に決めた！
        </div>
        </ng-container>
        <div (click)="close()">Close</div>
    </div>