<div class="side-form-ch">
    <div class="load-screen" *ngIf="onLoad">
        <div>読み込み中</div>
        <div>{{fileCount}}枚中{{loadedCount}}枚読み込み</div>
    </div>
    <ng-container *ngIf="showUpBase">
    <form action=""
        method="post"
        enctype="multipart/form-data">
        <div 
            [class.drag-over]="onDrag"
            class="drag-drop-area"
            (dragover)="onDragOverHandler($event)" 
            (dragleave)="onDragLeaveHandler($event)"
            (drop)="onDropHandler($event)" >
            <div class="drag-drop-inside">
                <p>ここに画像をドロップ</p>
                <p>または</p>
                <input name="images[]" (change)="onSelectHandler($event)" type="file" value="ファイルを選択" accept="image/*" multiple >
            </div>
        </div>
    </form>
    </ng-container>
    <div class="history-box float-l">
        <ng-container *ngIf="historyBox">
        <div>操作履歴</div>
        <ng-container *ngFor="let his of imageHistory[editTarget]; index as i">
        <img [attr.src]="his.data">
        <div class="button-s" (click)="undoImage(i)">戻す</div>
        </ng-container>
        </ng-container>
    </div>

    <ng-container *ngIf="showEditBase">
    <div class="edit-box float-l">
        <div>ファイル名：{{editName}}</div>
        <canvas class="image-base" id="canvas"></canvas>
    </div>
    </ng-container>

    <ng-container *ngIf="showBox">
    <div class="tool-box float-l">
        <div>幅：</div>
        <div>高：</div>
        <div>リサイズS</div>
        <div>リサイズM</div>
        <div>リサイズL</div>
        <ng-container>
        <div *ngIf="catOn">
            <div (click)="catImage()" class="button-m click">
                切り取り
            </div>
            <div>幅：{{catW}}px</div>
            <div>高：{{catH}}px</div>
        </div>
        </ng-container>
    </div>
    </ng-container>

    <ng-container *ngIf="showBox">
    <div class="image-box float-l">
        <ng-container *ngFor="let image of imageFiles; index as i">
        <div class="box-content">
            <div class="content-title">
                <input type="text" [(ngModel)]="imageFiles[i].name">
            </div>
            <div class="content-type">
                {{image.type}}
            </div>
            <img [attr.src]="image.data" (click)="imageEditView(i)">
        </div>
        </ng-container>
    </div>
    </ng-container>

    <!--<div *ngIf="onUp" (click)="imageUpLoad()" class="click">upload</div>-->
    <div *ngIf="showReload" (click)="switchWindow()" class="reload-button button-s click">再読込</div>
    <div (click)="close()" class="close-button button-s click">Close</div>
</div>
