input, button, textarea, select {
    margin: 0;
    padding: 0.5em;
    background: none;
    border: solid 1px #A8DDFF;
    border-radius: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.float-l {
    position: relative;
    float: left;
}

[class *= 'buttom-'] {
    text-align: center;
    font-size: 0.9em;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #B2B8FF;
    cursor: pointer;
}
[class *= 'buttom-']:hover {
    background-color: #D8CFFF;
    box-shadow: -2px -2px 5px #B2B8FF;
}
.buttom-s {
    width: 80px;
}
.buttom-m {
    width: 150px;
}
.buttom-l {
    width: 250px;
}

.content-s {
    width: 80px;
    margin: 0 10px;
}
.content-m {
    width: 150px;
    margin: 0 10px;
}
.content-l {
    width: 300px;
    margin: 0 10px;
}

[class *= 'block-'] {
    border: 5px 0px 5px 0px;
}

.block-s {
    height: 50px;
}

.block-m {
    height: 100px;
}

.block-l {
    height: 150px;
}


.subShow {
    display: none;
}
[class *= 'sub-window-'] {
    position: absolute;
    z-index: 100;
}
.sub-window-m {
    width: 450px;
    height: 300px;
    overflow: hidden;
    background-color: white;
    border: solid 2px #B0E0FF;
    box-shadow: 2px 2px 5px #9F9F9F;
}
.side-form {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
}