<div class="side-form">
    <h2>覚醒スキル追加</h2>
    <div class="block-s">
        <div class="label-m float-l">ID：</div>
        <input class="float-l" [(ngModel)]="arousal.id" placeholder="ID">
    </div>
    <div class="block-s">
        <div class="label-m float-l">名前：</div>
        <input class="float-l" [(ngModel)]="arousal.Name" placeholder="名前">
    </div>
    <div class="block-s">
        <div class="label-m float-l">アイコン：</div>
        <input class="float-l" [(ngModel)]="arousal.icon" placeholder="アイコン">
    </div>
    <div class="block-s">
        <div class="label-m float-l">タイプ：</div>
        <input class="float-l" [(ngModel)]="arousal.Type" placeholder="タイプ">
    </div>
    <div class="block-s">
        <div class="label-m float-l">プログラム：</div>
        <input class="float-l" [(ngModel)]="arousal.Program" placeholder="プログラム">
    </div>
    <div class="block-s">
        <div class="label-m float-l">プロパティ：</div>
        <input class="float-l" [(ngModel)]="arousal.Propatie" placeholder="プロパティ">
    </div>
    <div class="block-s">
        <div class="label-m float-l">内容：</div>
        <input class="float-l" [(ngModel)]="arousal.Description" placeholder="内容">
    </div>
    <button (click)="add()">追加</button>
    <button (click)="goBack()">戻る</button>
</div>
    