<!-- File: /app/View/Posts/view.ctp -->

<h1><?php echo h($monster['Monster']['Name']); ?></h1>

<p><small>Created: <?php echo $monster['Monster']['id']; ?></small></p>

<p><?php echo h($monster['Monster']['HP']); ?></p>