<navigate></navigate>

<div class="button-m click float-l" routerLink="add" routerLinkActive="active">
    新規登録
</div>
<div class="button-m click float-l" (click)="showSearch()">
    検索
</div>
<div class="float-l title-m">
    スキル管理
</div>
<div (click)="getcsvFile()" class="float-l button-m click">
    CSVﾀﾞｳﾝﾛｰﾄﾞ
</div>
<div class="grid float-l">
    <ul class="listbox">
        <li *ngFor="let skill of skills | slice: start: start+len" class="list">
            <div class="cell-m sort-left">
                {{skill.id}}
            </div>
            <div class="cell-name sort-left">
                <a  [routerLink]="['detail', skill.id]">
                    {{skill.Name}}
                </a>
            </div>
            <div class="cell-s sort-left">
                {{skill.Start}}
            </div>
            <div class="cell-s sort-left">
                {{skill.Max}}
            </div>
            <div class="cell-s sort-left">
                {{skill.MaxLevel}}
            </div>
            <div class="cell-xl sort-left">
                {{skill.Description}}
            </div>
        </li>
    </ul>
    <ul class="pageing">
        <ng-container *ngFor="let s of counts; index as i">
        <li (click)="pager(i)">{{i + 1}}</li>
        </ng-container>
    </ul>
</div>

<div class="sub-window-m"
    [@slideStatus]="subWindow"
    [class.subShow]="subFlag">
    <ng-container *ngComponentOutlet="searchContent"></ng-container>
</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>