<div *ngIf="skill" class="side-form">
    <h2>{{ skill.Name }}</h2>
    <div class="block-s">
        <div class="label-s float-l">番号：</div>
        <div class="float-l">{{ skill.id }}</div>
    </div>
    <div class="block-s">
        <div class="label-s float-l">名前：</div>
        <input class="float-l" [(ngModel)]="skill.Name" placeholder="名前" size="40">
    </div>
    <div class="block-s">
        <div class="label-s float-l">初期レベル：</div>
        <input class="float-l" type="number" [(ngModel)]="skill.Start" placeholder="0" size="5">
    </div>
    <div class="block-s">
        <div class="label-s float-l">最大レベル：</div>
        <input class="float-l" type="number" [(ngModel)]="skill.Max" placeholder="0" size="5">
    </div>
    <div class="block-s">
        <div class="label-s float-l">ｽｷﾙﾚﾍﾞﾙ：</div>
        <input class="float-l" type="number" [(ngModel)]="skill.MaxLevel" placeholder="0" size="5">
    </div>
    <div class="block-s">
        <div class="label-s float-l">内容：</div>
        <input class="float-l" [(ngModel)]="skill.Description" placeholder="内容" size="40">
    </div>
    <button (click)="save()">保存</button>
    <button (click)="goBack()">戻る</button>
</div>
