<navigate></navigate>

<div class="button-m click float-l" routerLink="add" routerLinkActive="active">
    新規登録
</div>
<div class="button-m click float-l" (click)="showSearch()">
    検索
</div>
<div class="float-l title-m">
    リーダースキル管理
</div>
<div (click)="getcsvFile()" class="float-l button-m click">
    CSVﾀﾞｳﾝﾛｰﾄﾞ
</div>
<div class="grid float-l">
    <ul class="listbox">
        <li *ngFor="let leader of leaders | slice: start: start+len" class="list">
            <div class="cell-m sort-left">
                {{leader.id}}
            </div>
            <div class="cell-name sort-left">
                <a  [routerLink]="['detail', leader.id]">
                    {{leader.Name}}
                </a>
            </div>
            <div class="cell-m sort-left">
                {{leader.Type}}
            </div>
            <div class="cell-m sort-left">
                {{leader.Attribute}}
            </div>
            <div class="cell-m sort-left">
                {{leader.MType}}
            </div>
            <div class="cell-l sort-left">
                {{leader.Rate}}
            </div>
            <div class="cell-m sort-left">
                {{leader.Program}}
            </div>
            <div class="cell-4l sort-left">
                {{leader.Propatie}}
            </div>
            <div class="cell-s sort-left">
                {{leader.PType}}
            </div>
            <div class="cell-xl sort-left">
                {{leader.Description}}
            </div>
        </li>
    </ul>
    <ul class="pageing">
        <ng-container *ngFor="let l of counts; index as i">
        <li (click)="pager(i)">{{i + 1}}</li>
        </ng-container>
    </ul>
</div>

<div class="sub-window-m"
    [@slideStatus]="subWindow"
    [class.subShow]="subFlag">
    <ng-container *ngComponentOutlet="searchContent"></ng-container>
</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>

