<div class="side-form-ch">
    <div class="center">
        <input (input)='search()' [(ngModel)]="searchLeader" type="text" placeholder="リーダースキル名or番号">
    </div>
    <ul class>
        <li *ngFor="let leader of leaderList">
            <div (click)='selectLeader(leader.id)'>
                {{leader.Name}}
            </div>
        </li>
    </ul>
</div>