<div class="side-form-ch">
    <div class="center">
        <input (input)='search()' [(ngModel)]="searchMonster" type="text" placeholder="モンスター名or番号">
    </div>
    <ul class>
        <li *ngFor="let monster of monsterList">
            <div (click)='selectMonster(monster.id)'>
                {{monster.Name}}
            </div>
        </li>
    </ul>
</div>