<div class="side-form-ch">
    <div class="center">
        <input (input)='search()' [(ngModel)]="searchSkill" type="text" placeholder="スキル名or番号">
    </div>
    <ul class>
        <li *ngFor="let skill of skillList">
            <div (click)='selectSkill(skill.id)'>
                {{skill.Name}}
            </div>
        </li>
    </ul>
</div>