<div *ngIf="monster" class="side-form">
    <h2>{{ monster.Name }}</h2>
    <div class="block-s">
        <div class="label-s float-l">番号：</div>
        <div class="float-l">{{ monster.id }}</div>
    </div>
    <div class="block-s">
        <div class="label-s float-l">名前：</div>
        <div class="float-l">
            <input [(ngModel)]="monster.Name" placeholder="名前" size="40">
        </div>
    </div>
    <div class="block-s">
        <div class="label-s float-l">属性：</div>
        <div (click)="showSelectAttribute(1)" class="float-l button-s">
            選択
        </div>
        <div *ngIf="monster.Attribute; else elseContent" class="float-l content-s">
            {{attributes[monster.Attribute].Name}}
            <ng-template #elseContent>
                未設定
            </ng-template>
        </div>
        <input type="hidden" [(ngModel)]="monster.Attribute" placeholder="属性">

        <div class="label-s float-l">副属性：</div>
        <div (click)="showSelectAttribute(2)" class="float-l button-s">
            選択
        </div>
        <div *ngIf="monster.SubAttribute; else elseContent" class="float-l content-s">
            {{attributes[monster.SubAttribute].Name}}
            <ng-template #elseContent>
                未設定
            </ng-template>
        </div>
        <input type="hidden" [(ngModel)]="monster.SubAttribute" placeholder="副属性">
    </div>
    <div class="block-s">
        <div class="label-s float-l">レア：</div>
        <input class="float-l" type="number" [(ngModel)]="monster.Rarity" placeholder="レア" size="5">
        <div class="label-s float-l">コスト：</div>
        <input class="float-l" type="number" [(ngModel)]="monster.Cost" placeholder="コスト" size="5">
    </div>
    <div class="block-s">
        <div class="label-s float-l">タイプ１：</div>
        <div (click)="showSelectType(1)" class="float-l button-s">
            選択
        </div>
        <div *ngIf="monster.Type; else elseContent" class="float-l content-s">
            {{mtypes[monster.Type].Name}}
            <ng-template #elseContent>
                未設定
            </ng-template>
        </div>
        <input type="hidden" [(ngModel)]="monster.Type" placeholder="タイプ１">

        <div class="label-s float-l">タイプ２：</div>
        <div (click)="showSelectType(2)" class="float-l button-s">
            選択
        </div>
        <div *ngIf="monster.SubType; else elseContent" class="float-l content-s">
            {{mtypes[monster.SubType].Name}}
            <ng-template #elseContent>
                未設定
            </ng-template>
        </div>
        <input type="hidden" [(ngModel)]="monster.SubType" placeholder="タイプ２">

        <div class="label-s float-l">タイプ３：</div>
        <div (click)="showSelectType(3)" class="float-l button-s">
            選択
        </div>
        <div *ngIf="monster.ThirdType; else elseContent" class="float-l content-s">
            {{mtypes[monster.ThirdType].Name}}
            <ng-template #elseContent>
                未設定
            </ng-template>
        </div>
        <input type="hidden" [(ngModel)]="monster.ThirdType" placeholder="タイプ３">
    </div>
    <div class="block-s">
        <div class="label-s float-l">HP：</div>
        <input class="float-l" type="number" [(ngModel)]="monster.HP" placeholder="HP" size="5">
        <div class="label-s float-l">攻撃：</div>
        <input class="float-l" type="number" [(ngModel)]="monster.Attack" placeholder="攻撃" size="5">
        <div class="label-s float-l">回復：</div>
        <input class="float-l" type="number" [(ngModel)]="monster.Cure" placeholder="回復" size="5">
    </div>
    <div class="block-s">
        <div class="label-s float-l">スキル：</div>
        <div (click)="showSearchSkill($event)" class="float-l button-s">
            選択
        </div>
        <div *ngIf="monster.Skill; else elseContent" class="float-l content-l">
            {{ skills[monster.Skill].Name }}
            <ng-template #elseContent>
                未設定
            </ng-template>
        </div>
        <input type="hidden" [(ngModel)]="monster.Skill">
    </div>
    <div class="block-s">
        <div class="label-s float-l">ﾘｰﾀﾞｰｽｷﾙ：</div>
        <div (click)="showSearchLeader($event)" class="float-l button-s">
                選択
            </div>
            <div *ngIf="monster.Reader; else elseContent" class="float-l content-l">
                {{ leaders[monster.Reader].Name }}
                <ng-template #elseContent>
                    未設定
                </ng-template>
            </div>
        <input type="hidden" [(ngModel)]="monster.Reader">
    </div>

    <div class="block-s">
        <div class="label-s float-l">覚醒：</div>
        <div (click)="showSelectArousal()"
            class="float-l button-s">選択</div>
        <div *ngIf="monster.Arousal; else elseContent" class="float-l content-l">
            {{monster.Arousal}}
            <ng-template #elseContent>未設定</ng-template>
        </div>
        <input type="hidden" [(ngModel)]="monster.Arousal">
    </div>
    <div class="block-s">
        <div class="label-s float-l">進化：</div>
        <input class="float-s" [(ngModel)]="monster.Evolution" placeholder="進化">
    </div>
    <button (click)="save()">保存</button>
    <button (click)="goBack()">戻る</button>

    <div class="sub-window-m"
    [@slideStatus]="subWindow"
    [class.subShow]="subFlag"
    [style.top]="subTop"
    [style.left]="subLeft">
    <ng-container *ngComponentOutlet="searchContent">
    </ng-container>

</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>