<nav>
    <div class="button-s" routerLink="/login" routerLinkActive="active">ログアウト</div>
</nav>
<nav class="container-s">
    <a class="cargo-s" routerLink="/dashboard" routerLinkActive="active">ダッシュボード</a>
    <a class="cargo-s" routerLink="/monster" routerLinkActive="active">モンスター</a>
    <a class="cargo-s" routerLink="/skill" routerLinkActive="active">スキル</a>
    <a class="cargo-s" routerLink="/leader" routerLinkActive="active">リーダースキル</a>
    <a class="cargo-s" routerLink="/arousal" routerLinkActive="active">覚醒</a>
    <a class="cargo-s" routerLink="/admin" routerLinkActive="active">ユーザーとか管理</a>
</nav>